<?php
echo $this->Html->css('ranking'); ?>

<h3>Score Ranking TOP5</h3>
<h4>1位・・・<?php echo $name1; ?>　　　スコア：<?php echo $ranking1; ?></h4>
<h4>2位・・・<?php echo $name2; ?>　　　スコア：<?php echo $ranking2; ?></h4>
<h4>3位・・・<?php echo $name3; ?>　　　スコア：<?php echo $ranking3; ?></h4>
<h4>4位・・・<?php echo $name4; ?>　　　スコア：<?php echo $ranking4; ?></h4>
<h4>5位・・・<?php echo $name5; ?>　　　スコア：<?php echo $ranking5; ?></h4>

<font size="5" color="15848F">
    <b>
        <?= $this->Form->create('ranking', ['url' => ['action' => 'index'], 'type' => 'post']) ?>
        <?= $this->Form->submit('BACK') ?>
        <?= $this->Form->end() ?>
    </b>
</font>